*{
    margin: 0px;
    list-style-type: none;

    background-color: #99AEB0;
    font-family: monospace;
    padding: 0px;
    box-sizing: border-box;
}

body{
    margin: 0 100px 0 100px;
}

button{
    padding: 2px 5px;
}

.uList{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h1{
    min-width: 200px;
    margin: 20px 0 70px 0;
    font-size: 800;
    text-align: center;
    border: solid;
    padding: 0px px 0px;
}

footer{
    bottom: 0;
    text-align: center;
    position: fixed;
    margin-left: auto;
    margin-right: auto;

}

.sList{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 40px ;
}

.sList li{
    text-align: center;
    border: solid;
    width: 70px;
}