*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
    font-family: monospace;
    background-color: #99AEB0;
}

h1{
    text-align: center;
    background-color: #d5cabd;
    padding: 10px 30px 10px 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
}

body{
    display: flex;
    flex-direction: column;
}

nav{
    border-bottom: solid;
    background-color: #d5cabd;
    margin-bottom: 65px;
}

.uList{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    padding: 45px 30px 35px 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

#rock,
#paper,
#scissors{
    border: rgb(72, 71, 71) 3px solid;
    border-radius: 10px;
}

.result
{   
    margin-bottom: 20px;
    font-weight: 550;
    font-size: large;
    text-align: center;
}
.score{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px 30px 40px 30px;
    gap: 60px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.score li{

    width: 200px;
    background-color: #d5cabd;
    font-size: x-large;
    text-align: center;
    border: solid 2px #d5cabd;
    border-radius: 5px;
}

.footer{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 6px;
    justify-content: center;
    padding: 10px;
    color: white;
    background-color: black;
    bottom: 0;
    position: fixed;
    height: 35px;
}
.footer div{
    background-color: inherit;

}
.footer a{
    text-decoration: none;
    background-color: inherit;

}
a img{
    background-color: white;
    border-radius: 50px;    
}
.uList li img:hover{
    cursor: pointer;
}