*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
    font-family: monospace;
    background-color: #99AEB0;
}

h1{
    text-align: center;
    width: 300px;
    background-color: #d5cabd;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
}

nav{
    border-bottom: solid;
    background-color: #d5cabd;
}